.button-primitive-defau-1 {
    text-align: center;
    color: #fff;
    background-color: #f4f4f5;
    border-radius: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue, Arial;
    font-size: .75rem;
    font-weight: 700;
    line-height: 18px;
    display: flex;
  }