.stacked {
    color: #545454;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Helvetica Neue, Arial;
    font-size: .75rem;
    font-weight: 500;
    line-height: 30px;
    display: flex;
  }
  
  .background {
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 16px;
    display: flex;
  }
  
  .image {
    width: 100%;
    background-image: url("/src/assets/image.png");
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    flex-direction: row;
    flex-basis: 51%;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 20px;
    padding-left: 24px;
    display: flex;
  }
  
  .button-primitive-defau-instance-2 {
    height: 15%;
    flex-basis: 23%;
    margin-bottom: 4px;
  }
  
  .paper-1 {
    color: #27272a;
    margin-left: 26px;
    font-size: 1.25rem;
  }
  
  .authors-xxxyyyzzzz-s {
    color: #3f3f46;
    margin-left: 24px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
  }
  
  .flex-container-2 {
    text-align: center;
    width: 90%;
    flex-direction: row;
    flex-basis: 11%;
    justify-content: space-between;
    align-self: center;
    align-items: flex-end;
    margin-left: 5px;
    font-weight: 300;
    line-height: 18px;
    display: flex;
  }
  
  .flex-container-3 {
    height: 100%;
    flex-direction: column;
    flex-basis: 66%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .button-rounded-default-instance-1 {
    width: 100%;
    flex-basis: 56%;
    margin-bottom: -14px;
  }
  
  .button-rounded-default-instance-2 {
    width: 35%;
    flex-basis: 72%;
    margin-bottom: -36px;
  }
  
  .button-rounded-default-instance-3 {
    width: 35%;
    flex-basis: 72%;
    margin-left: 9px;
  }
  
  .open-in-explorer {
    margin-bottom: 2px;
    margin-left: 5px;
    text-decoration: underline;
  }
  
  .pharrow-square-out {
    width: 14px;
    height: 14px;
    object-fit: cover;
    margin-bottom: 1px;
  }